@mixin special
    color: red
    background-color: yellow
    padding: 10px
    border: solid 1px red

    &:hover
        border-color: blue
        color: blue

@mixin green
    border-color: green
    color: green

@mixin espacamento($padding, $margin)
    padding: $padding
    margin: $margin