@import 'variables'
@import 'button'
@import 'mixins'
@import 'plugins'
@import 'functions'

.p-esp
    @include special

h2
    @include special
    @include green
    
.esp-menor
    @include espacamento(10px, 10px)
    @include custom-border(solid, red)
    @include colors
    @extend %font-pattern

.esp-medio
    @include espacamento(15px, 15px)
    @include custom-border(solid, blue, 3px)
    @include colors($background: #321)
    @extend %font-pattern

.esp-maior
    @include espacamento(25px, 25px)
    @include custom-border(solid, green)
    @include colors($font: #915, $background: #369)
    @extend %font-pattern

.esp-maior-ainda
    $pad: 50px
    $mag: 50px
    @include espacamento($pad, $mag)
    @include custom-border(solid, gold)
    @extend %font-pattern

.container-menor
    width: 100px * 4
    //@include custom-border(solid, black)
    border: custom-border-function()

.container-maior
    width: 25rem * 2
    //@include custom-border(solid, black)
    border: custom-border-function(2)

.fonte-grande
    font-size: 25px
    color: text-color(25)
    border: custom-border-function(3)

.fonte-pequena
    font-size: 5px
    color: text-color(5)
    border: custom-border-function(400)

.teste-1
    width: custom-width()
    background-color: red

.teste-2
    width: custom-width($width: 1000px)
    background-color: green

.teste-3
    width: custom-width($division: 5)
    background-color: blue