.container{
    padding: 50px;
}

.div-float{
    overflow: auto;
}

.img-float{
    width: 200px;
    height: 200px;
    float: left;
}

.float-right{
    float: right;
}

.p-float{
    color: #000;
}