*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Helvetica
    background-color: #FAFAFA
    
#main-container
    display: flex
    flex-direction: row
    margin-top: 30px

    #banner-container, #form-container
        flex: 1 1 0
        width: 50%

    #banner-container
        text-align: right

        img
            margin-right: -15px

    
    #form-container
        text-align: center

        #form-box
            #logo-insta

            #login-form
                input

            .separator
                .line

                span

            #other-links
                #facebook-login
                    a
                        img

                        span

                #forgot-pass
                    a

        #register-container
            p

            a

        #get-app-container
            p

            a
                img
                    
footer
    nav
        #footer-links
            li
                a

    #copyright
