.pixel-1{
    background-color: red;
    width: 100px;
    height: 100px;
}

.pixel-2{
    background-color: blue;
    width: 150px;
    height: 150px;
}

.pai-porcentagem{
    width: 200px;
    height: 200px;
    background-color: green;
}

.porcentagem-1{
    width: 50%;
    height: 50%;
    background-color: white;
}

.porcentagem-2{
    width: 50%;
    height: 50%;
    background-color: yellow;
}

.pai-em{
    font-size: 50px;
}

.em-1{
    width: 2em;
    height: 2em;
    background-color: purple;
}

.rem-1{
    width: 2rem;
    height: 2rem;
    background-color: gold;
}

.rem-2{
    font-size: 1.75rem;
}