$text-color: #123
$bg-color: blue
$h2-color: green
$border: solid 2px red

h1
    color: $text-color
    border: $border

p
    color: $text-color
    border: $border

a
    color: $text-color

div
    p
        $font-color: #FFF
        $font2-color: red
        $border: dotted 3px green
        background-color: $bg-color
        color: $font-color
        border: $border

        span
            color: $font2-color

h2
    color: $h2-color
    border: $border