*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

/* Adicionando comentários */
h1, h2, h3, h4, h5, h6{
    color: darkcyan;
    text-align: center;
}

.boxmodel{
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    padding: 20px;
    border: solid 3px lightcoral;
    border-width: 20px 10px;
    border-radius: 15px;
    margin: 50px;
    display: block;
}

.paragrafo-box{
    color: lightcoral;
    margin: 0;
}