*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

/* Adicionando comentários */
h1, h2, h3, h4, h5, h6{
    color: darkcyan;
    text-align: center;
}

.boxmodel{
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    padding: 20px;
    border: solid 3px lightcoral;
    border-width: 20px 10px;
    border-radius: 15px;
    margin: 50px;
    display: block;
}

.paragrafo-box{
    color: lightcoral;
    margin: 0;
}

.div-position{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    color: white;
}

.stastic{
    position: static;
}

.relative{
    position: relative;
    top: 100px;
    left: 50px;
}

.absolut{
    position: absolute;
    right: 0;
    top: 0;
}

.fixed{
    position: fixed;
    left: 0;
    top: 0;
}

.sticky{
    position: sticky;
    top: 50;
}