@use 'sass:map'

$a: 10

$str: "Roboto"
$str2: Roboto
$nome-da-fonte: "Open"
$var1: "Sans"
$var2: "Teste"

$h: hidden

$list: 10, 20, 30

$font-weights: ("regular": 400, "bold": 700, "black": 900)

@debug $a
@debug $a + 12
@debug $a + 20px

@debug $str == $str2
@debug $nome-da-fonte + " " + $var1
@debug $nome-da-fonte + " " + $var2

@debug #F2EC44
@debug blue
@debug rgb(201, 50, 124)
@debug rgba(123, 231, 144, 0.8)
@debug hsl(34, 50%, 92%)

@debug true
@debug false
@debug 10 > 2
@debug 2 > 10

@debug 10 == 10
@debug 10 != 10
@debug 10 > 10
@debug 10 < 10
@debug 2 < 10
@debug 22 > 10


@each $value in $list
    @debug $value * 2

h1
    font-family: "#{$nome-da-fonte} #{$var2}"
    color: midnightblue

h2
    display: $h

h3
    font-weight: map.get($font-weights, "black")

p
    font-family: $nome-da-fonte + " " + $var1

@each $font in $list
    .p-#{$font}
        font-size: $font + px

@each $key, $value in $font-weights
    .p-#{$key}
        font-weight: $value